@font-face {
    font-family: "lersseit";
    src:
        local("lersseit"),
        url("/assets/fonts/Larsseit.otf") format("opentype")
}

* {
    font-family: lersseit;
    margin: 0%;
    padding: 0%;
}